In [18]:
import urllib.request
from tqdm import tqdm
import pandas as pd
import os
import pickle as pkl

from pydeseq2.dds import DeseqDataSet
from pydeseq2.default_inference import DefaultInference
from pydeseq2.ds import DeseqStats
from pydeseq2.utils import load_example_data

In [69]:
#loaf files

counts = pd.read_csv('GSE139580_Raw_counts.txt',sep='\t', )
metadata = pd.read_csv('SraRunTable.csv')
pd.DataFrame(counts) 
pd.DataFrame(metadata)
print(metadata)
print(counts)

            Run Assay Type  AvgSpotLen       Bases   BioProject     BioSample  \
0   SRR10363099    RNA-Seq          50  1076319800  PRJNA580367  SAMN13155854
1   SRR10363100    RNA-Seq          50  1187457550  PRJNA580367  SAMN13155853
2   SRR10363101    RNA-Seq          50  1051717150  PRJNA580367  SAMN13155852
3   SRR10363102    RNA-Seq          50  1061309750  PRJNA580367  SAMN13155851
4   SRR10363103    RNA-Seq          50  1177301550  PRJNA580367  SAMN13155850
5   SRR10363104    RNA-Seq          50  1138573700  PRJNA580367  SAMN13155849
6   SRR10363105    RNA-Seq          50  1008413950  PRJNA580367  SAMN13155848
7   SRR10363106    RNA-Seq          50  1051331400  PRJNA580367  SAMN13155847
8   SRR10363107    RNA-Seq          50   973003000  PRJNA580367  SAMN13155846
9   SRR10363108    RNA-Seq          50  1047920250  PRJNA580367  SAMN13155845
10  SRR10363109    RNA-Seq          50   966581850  PRJNA580367  SAMN13155844
11  SRR10363110    RNA-Seq          50  1185113200  PRJNA580367  SAMN13155843
12  SRR10363111    RNA-Seq          50  1145802400  PRJNA580367  SAMN13155842
13  SRR10363112    RNA-Seq          50  1042973100  PRJNA580367  SAMN13155841
14  SRR10363113    RNA-Seq          50  1179622250  PRJNA580367  SAMN13155840
15  SRR10363114    RNA-Seq          50  1050324550  PRJNA580367  SAMN13155839
16  SRR10363115    RNA-Seq          50  1141945200  PRJNA580367  SAMN13155838
17  SRR10363116    RNA-Seq          50  1134463750  PRJNA580367  SAMN13155837

        Bytes          cell_type Center Name Consent  ...   LibrarySource  \
0   789357317  endothelial cells         GEO  public  ...  TRANSCRIPTOMIC
1   870387707  endothelial cells         GEO  public  ...  TRANSCRIPTOMIC
2   776532695  endothelial cells         GEO  public  ...  TRANSCRIPTOMIC
3   782763109  endothelial cells         GEO  public  ...  TRANSCRIPTOMIC
4   863573729  endothelial cells         GEO  public  ...  TRANSCRIPTOMIC
5   834957555  endothelial cells         GEO  public  ...  TRANSCRIPTOMIC
6   743622257  endothelial cells         GEO  public  ...  TRANSCRIPTOMIC
7   776548738  endothelial cells         GEO  public  ...  TRANSCRIPTOMIC
8   717709900  endothelial cells         GEO  public  ...  TRANSCRIPTOMIC
9   772237870  endothelial cells         GEO  public  ...  TRANSCRIPTOMIC
10  716435081  endothelial cells         GEO  public  ...  TRANSCRIPTOMIC
11  873614979  endothelial cells         GEO  public  ...  TRANSCRIPTOMIC
12  840695698  endothelial cells         GEO  public  ...  TRANSCRIPTOMIC
13  764264741  endothelial cells         GEO  public  ...  TRANSCRIPTOMIC
14  864962338  endothelial cells         GEO  public  ...  TRANSCRIPTOMIC
15  773686559  endothelial cells         GEO  public  ...  TRANSCRIPTOMIC
16  837565360  endothelial cells         GEO  public  ...  TRANSCRIPTOMIC
17  830816224  endothelial cells         GEO  public  ...  TRANSCRIPTOMIC

        Organism  Platform      protocol           ReleaseDate  \
0   Mus musculus  ILLUMINA        Static  2022-05-26T00:00:00Z
1   Mus musculus  ILLUMINA        Static  2022-05-26T00:00:00Z
2   Mus musculus  ILLUMINA        Static  2022-05-26T00:00:00Z
3   Mus musculus  ILLUMINA   2 dynes/cm2  2022-05-26T00:00:00Z
4   Mus musculus  ILLUMINA   2 dynes/cm2  2022-05-26T00:00:00Z
5   Mus musculus  ILLUMINA   2 dynes/cm2  2022-05-26T00:00:00Z
6   Mus musculus  ILLUMINA  30 dynes/cm2  2022-05-26T00:00:00Z
7   Mus musculus  ILLUMINA  30 dynes/cm2  2022-05-26T00:00:00Z
8   Mus musculus  ILLUMINA  30 dynes/cm2  2022-05-26T00:00:00Z
9   Mus musculus  ILLUMINA        Static  2022-05-26T00:00:00Z
10  Mus musculus  ILLUMINA        Static  2022-05-26T00:00:00Z
11  Mus musculus  ILLUMINA        Static  2022-05-26T00:00:00Z
12  Mus musculus  ILLUMINA   2 dynes/cm2  2022-05-26T00:00:00Z
13  Mus musculus  ILLUMINA   2 dynes/cm2  2022-05-26T00:00:00Z
14  Mus musculus  ILLUMINA   2 dynes/cm2  2022-05-26T00:00:00Z
15  Mus musculus  ILLUMINA  30 dynes/cm2  2022-05-26T00:00:00Z
16  Mus musculus  ILLUMINA  30 dynes/cm2  2022-05-26T00:00:00Z
17  Mus musculus  ILLUMINA  30 dynes/cm2  2022-05-26T00:00:00Z

             create_date version Sample Name    source_name  SRA Study
0   2019-10-30T07:18:00Z       1  GSM4143941   KO_0dyn_rep1  SRP227424
1   2019-10-30T07:19:00Z       1  GSM4143942   KO_0dyn_rep2  SRP227424
2   2019-10-30T07:19:00Z       1  GSM4143943   KO_0dyn_rep3  SRP227424
3   2019-10-30T07:19:00Z       1  GSM4143944   KO_2dyn_rep1  SRP227424
4   2019-10-30T07:19:00Z       1  GSM4143945   KO_2dyn_rep2  SRP227424
5   2019-10-30T07:19:00Z       1  GSM4143946   KO_2dyn_rep3  SRP227424
6   2019-10-30T07:18:00Z       1  GSM4143947  KO_30dyn_rep1  SRP227424
7   2019-10-30T07:19:00Z       1  GSM4143948  KO_30dyn_rep2  SRP227424
8   2019-10-30T07:18:00Z       1  GSM4143949  KO_30dyn_rep3  SRP227424
9   2019-10-30T07:19:00Z       1  GSM4143950   WT_0dyn_rep1  SRP227424
10  2019-10-30T07:19:00Z       1  GSM4143951   WT_0dyn_rep2  SRP227424
11  2019-10-30T07:20:00Z       1  GSM4143952   WT_0dyn_rep3  SRP227424
12  2019-10-30T07:19:00Z       1  GSM4143953   WT_2dyn_rep1  SRP227424
13  2019-10-30T07:19:00Z       1  GSM4143954   WT_2dyn_rep2  SRP227424
14  2019-10-30T07:20:00Z       1  GSM4143955   WT_2dyn_rep3  SRP227424
15  2019-10-30T07:19:00Z       1  GSM4143956  WT_30dyn_rep1  SRP227424
16  2019-10-30T07:19:00Z       1  GSM4143957  WT_30dyn_rep2  SRP227424
17  2019-10-30T07:19:00Z       1  GSM4143958  WT_30dyn_rep3  SRP227424

[18 rows x 29 columns]
                  gene_id  KO_0dyn_rep1  KO_0dyn_rep2  KO_0dyn_rep3  \
0      ENSMUSG00000025903           598           650           670
1      ENSMUSG00000033813           365           410           363
2      ENSMUSG00000033793          1437          1602          1445
3      ENSMUSG00000025905             5             1             1
4      ENSMUSG00000025907          1190          1361          1208
...                   ...           ...           ...           ...
21642  ENSMUSG00000095867             0             0             0
21643  ENSMUSG00000094660             0             0             0
21644  ENSMUSG00000095650             0             0             0
21645  ENSMUSG00000095366             0             0             0
21646  ENSMUSG00000096850             0             0             0

       KO_2dyn_rep1  KO_2dyn_rep2  KO_2dyn_rep3  KO_30dyn_rep1  KO_30dyn_rep2  \
0               882           882           883            921            941
1               342           374           383            398            439
2              2012          2053          2177           1601           1611
3                10             6             2              1              2
4              1874          1922          1910           1742           1785
...             ...           ...           ...            ...            ...
21642             0             0             0              0              0
21643             0             0             0              0              0
21644             0             0             0              0              0
21645             0             0             0              0              0
21646             0             0             0              0              0

       KO_30dyn_rep3  WT_0dyn_rep1  WT_0dyn_rep2  WT_0dyn_rep3  WT_2dyn_rep1  \
0                954           566           541           604          1162
1                414           387           356           410           540
2               1501           708           705           817          1232
3                  0             0             0             0             1
4               1697          1191          1085          1261          1266
...              ...           ...           ...           ...           ...
21642              0             0             0             0             0
21643              0             0             0             0             0
21644              0             0             0             1             0
21645              0             0             0             0             0
21646              0             0             0             0             0

       WT_2dyn_rep2  WT_2dyn_rep3  WT_30dyn_rep1  WT_30dyn_rep2  WT_30dyn_rep3
0              1010          1117           1031           1189           1162
1               456           472            501            522            559
2               989          1071            917            955           1027
3                 0             0              0              0              0
4              1320          1396           1445           1680           1558
...             ...           ...            ...            ...            ...
21642             0             0              0              0              0
21643             0             0              0              0              0
21644             0             0              0              0              0
21645             0             0              0              0              0
21646             0             0              0              0              0

[21647 rows x 19 columns]

In [70]:
#set the index to the genes column  
counts = counts.set_index('gene_id')
counts

,KO_0dyn_rep1,KO_0dyn_rep2,KO_0dyn_rep3,KO_2dyn_rep1,KO_2dyn_rep2,KO_2dyn_rep3,KO_30dyn_rep1,KO_30dyn_rep2,KO_30dyn_rep3,WT_0dyn_rep1,WT_0dyn_rep2,WT_0dyn_rep3,WT_2dyn_rep1,WT_2dyn_rep2,WT_2dyn_rep3,WT_30dyn_rep1,WT_30dyn_rep2,WT_30dyn_rep3
gene_id,,,,,,,,,,,,,,,,,,
ENSMUSG00000025903,598,650,670,882,882,883,921,941,954,566,541,604,1162,1010,1117,1031,1189,1162
ENSMUSG00000033813,365,410,363,342,374,383,398,439,414,387,356,410,540,456,472,501,522,559
ENSMUSG00000033793,1437,1602,1445,2012,2053,2177,1601,1611,1501,708,705,817,1232,989,1071,917,955,1027
ENSMUSG00000025905,5,1,1,10,6,2,1,2,0,0,0,0,1,0,0,0,0,0
ENSMUSG00000025907,1190,1361,1208,1874,1922,1910,1742,1785,1697,1191,1085,1261,1266,1320,1396,1445,1680,1558
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
ENSMUSG00000095867,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0
ENSMUSG00000094660,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0
ENSMUSG00000095650,0,0,0,0,0,0,0,0,0,0,0,1,0,0,0,0,0,0
ENSMUSG00000095366,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0
ENSMUSG00000096850,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0

In [71]:
#remove columns with zero counts  

counts = counts[counts.sum(axis=1) > 0]
counts

,KO_0dyn_rep1,KO_0dyn_rep2,KO_0dyn_rep3,KO_2dyn_rep1,KO_2dyn_rep2,KO_2dyn_rep3,KO_30dyn_rep1,KO_30dyn_rep2,KO_30dyn_rep3,WT_0dyn_rep1,WT_0dyn_rep2,WT_0dyn_rep3,WT_2dyn_rep1,WT_2dyn_rep2,WT_2dyn_rep3,WT_30dyn_rep1,WT_30dyn_rep2,WT_30dyn_rep3
gene_id,,,,,,,,,,,,,,,,,,
ENSMUSG00000025903,598,650,670,882,882,883,921,941,954,566,541,604,1162,1010,1117,1031,1189,1162
ENSMUSG00000033813,365,410,363,342,374,383,398,439,414,387,356,410,540,456,472,501,522,559
ENSMUSG00000033793,1437,1602,1445,2012,2053,2177,1601,1611,1501,708,705,817,1232,989,1071,917,955,1027
ENSMUSG00000025905,5,1,1,10,6,2,1,2,0,0,0,0,1,0,0,0,0,0
ENSMUSG00000025907,1190,1361,1208,1874,1922,1910,1742,1785,1697,1191,1085,1261,1266,1320,1396,1445,1680,1558
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
ENSMUSG00000096768,39,29,40,31,57,43,65,75,59,213,202,263,220,176,177,160,184,183
ENSMUSG00000068457,67,72,78,97,82,104,49,77,60,608,527,704,596,601,622,516,592,547
ENSMUSG00000069045,169,202,173,225,221,201,163,190,152,1149,1022,1224,1198,1168,1323,1068,1246,1194
ENSMUSG00000069044,2,0,0,2,0,1,2,0,1,0,0,0,0,0,0,0,0,0
ENSMUSG00000095650,0,0,0,0,0,0,0,0,0,0,0,1,0,0,0,0,0,0

In [72]:
#pyDESeq requires counts matrix with rows as samples and genes as columns (transpose)  

counts = counts.T
counts.head(50)

gene_id,ENSMUSG00000025903,ENSMUSG00000033813,ENSMUSG00000033793,ENSMUSG00000025905,ENSMUSG00000025907,ENSMUSG00000087247,ENSMUSG00000033740,ENSMUSG00000051285,ENSMUSG00000061024,ENSMUSG00000025911,...,ENSMUSG00000056673,ENSMUSG00000069049,ENSMUSG00000095852,ENSMUSG00000096520,ENSMUSG00000095153,ENSMUSG00000096768,ENSMUSG00000068457,ENSMUSG00000069045,ENSMUSG00000069044,ENSMUSG00000095650
KO_0dyn_rep1,598,365,1437,5,1190,0,5,1296,454,68,...,69,76,0,0,0,39,67,169,2,0
KO_0dyn_rep2,650,410,1602,1,1361,0,5,1464,494,75,...,79,104,0,0,0,29,72,202,0,0
KO_0dyn_rep3,670,363,1445,1,1208,2,1,1366,482,76,...,67,76,0,0,0,40,78,173,0,0
KO_2dyn_rep1,882,342,2012,10,1874,1,3,1156,618,136,...,119,94,0,0,0,31,97,225,2,0
KO_2dyn_rep2,882,374,2053,6,1922,2,2,1168,608,129,...,110,80,0,0,1,57,82,221,0,0
KO_2dyn_rep3,883,383,2177,2,1910,1,1,1134,611,134,...,128,102,0,0,0,43,104,201,1,0
KO_30dyn_rep1,921,398,1601,1,1742,2,1,1042,820,20,...,83,71,0,0,0,65,49,163,2,0
KO_30dyn_rep2,941,439,1611,2,1785,2,0,1093,816,36,...,88,74,0,0,0,75,77,190,0,0
KO_30dyn_rep3,954,414,1501,0,1697,4,0,1024,810,31,...,75,64,0,0,0,59,60,152,1,0
WT_0dyn_rep1,566,387,708,0,1191,0,0,398,392,18,...,655,805,2,8,0,213,608,1149,0,0
WT_0dyn_rep2,541,356,705,0,1085,0,0,355,408,11,...,655,744,2,7,0,202,527,1022,0,0
WT_0dyn_rep3,604,410,817,0,1261,0,0,415,497,19,...,780,898,3,4,0,263,704,1224,0,1
WT_2dyn_rep1,1162,540,1232,1,1266,0,0,334,873,20,...,731,908,1,11,0,220,596,1198,0,0
WT_2dyn_rep2,1010,456,989,0,1320,0,0,326,667,14,...,747,816,5,4,0,176,601,1168,0,0
WT_2dyn_rep3,1117,472,1071,0,1396,0,0,379,781,15,...,866,942,0,14,0,177,622,1323,0,0
WT_30dyn_rep1,1031,501,917,0,1445,0,0,336,900,1,...,728,853,0,4,0,160,516,1068,0,0
WT_30dyn_rep2,1189,522,955,0,1680,0,0,380,952,5,...,765,963,2,9,0,184,592,1246,0,0
WT_30dyn_rep3,1162,559,1027,0,1558,0,0,375,946,13,...,722,884,4,10,1,183,547,1194,0,0

In [76]:
#prepare metadata using the counts index

metadata_df = pd.DataFrame(zip(counts.index, [   'KO_0dyn', 'KO_0dyn', 'KO_0dyn',
    'KO_2dyn', 'KO_2dyn', 'KO_2dyn',
    'KO_30dyn', 'KO_30dyn', 'KO_30dyn',
    'WT_0dyn', 'WT_0dyn', 'WT_0dyn',
    'WT_2dyn', 'WT_2dyn', 'WT_2dyn',
    'WT_30dyn', 'WT_30dyn', 'WT_30dyn']), columns = ['Sample','Condition'])

In [77]:
#set the sample column as the index
metadata_df = metadata_df.set_index('Sample')
metadata_df

              Condition
Sample
KO_0dyn_rep1    KO_0dyn
KO_0dyn_rep2    KO_0dyn
KO_0dyn_rep3    KO_0dyn
KO_2dyn_rep1    KO_2dyn
KO_2dyn_rep2    KO_2dyn
KO_2dyn_rep3    KO_2dyn
KO_30dyn_rep1  KO_30dyn
KO_30dyn_rep2  KO_30dyn
KO_30dyn_rep3  KO_30dyn
WT_0dyn_rep1    WT_0dyn
WT_0dyn_rep2    WT_0dyn
WT_0dyn_rep3    WT_0dyn
WT_2dyn_rep1    WT_2dyn
WT_2dyn_rep2    WT_2dyn
WT_2dyn_rep3    WT_2dyn
WT_30dyn_rep1  WT_30dyn
WT_30dyn_rep2  WT_30dyn
WT_30dyn_rep3  WT_30dyn

In [80]:
#DESeq data object  
inference = DefaultInference(n_cpus=8)
dds = DeseqDataSet(
    counts=counts,
    metadata=metadata_df,
    design_factors="Condition",
    refit_cooks=True,
    inference=inference,
    # n_cpus=8, # n_cpus can be specified here or in the inference object
)

/opt/anaconda3/envs/gene_expression/lib/python3.12/site-packages/pydeseq2/dds.py:270: UserWarning: Some factor levels in the design contain underscores ('_').
                    They will be converted to hyphens ('-').
  self.obsm["design_matrix"] = build_design_matrix(

In [86]:
#Run deseq2
dds.deseq2()

Fitting size factors...
... done in 0.07 seconds.

Fitting dispersions...
... done in 2.93 seconds.

Fitting dispersion trend curve...
... done in 0.45 seconds.

Fitting MAP dispersions...
... done in 3.79 seconds.

Fitting LFCs...
... done in 1.91 seconds.

Calculating cook's distance...
... done in 0.04 seconds.

Replacing 0 outlier genes.

In [97]:
#dds.obs.Condition
dds

AnnData object with n_obs × n_vars = 18 × 17710
    obs: 'Condition'
    uns: 'trend_coeffs', 'disp_function_type', '_squared_logres', 'prior_disp_var'
    obsm: 'design_matrix', 'size_factors', '_mu_LFC', '_hat_diagonals', 'replaceable'
    varm: '_normed_means', 'non_zero', '_MoM_dispersions', 'genewise_dispersions', '_genewise_converged', 'fitted_dispersions', 'MAP_dispersions', '_MAP_converged', 'dispersions', '_outlier_genes', 'LFC', '_LFC_converged', 'replaced', 'refitted', '_pvalue_cooks_outlier'
    layers: 'normed_counts', '_mu_hat', 'cooks'

In [96]:
# stats

stats_res = DeseqStats(dds, contrast=('Condition','KO-0dyn','WT-0dyn'))

In [98]:
stats_res.summary()

Running Wald tests...

Log2 fold change & Wald test p-value: Condition KO-0dyn vs WT-0dyn
                       baseMean  log2FoldChange     lfcSE       stat  \
gene_id
ENSMUSG00000025903   864.427007        0.319183  0.065789   4.851616
ENSMUSG00000033813   423.257754        0.134358  0.075407   1.781759
ENSMUSG00000033793  1347.132609        1.161564  0.055542  20.913158
ENSMUSG00000025905     1.675489        3.826113  2.162003   1.769707
ENSMUSG00000025907  1499.537286        0.240434  0.053206   4.518906
...                         ...             ...       ...        ...
ENSMUSG00000096768   117.485044       -2.491420  0.171255 -14.548007
ENSMUSG00000068457   311.305417       -2.925411  0.118908 -24.602217
ENSMUSG00000069045   639.096733       -2.488611  0.081095 -30.687760
ENSMUSG00000069044     0.493184        2.028119  2.768312   0.732619
ENSMUSG00000095650     0.049929       -0.810116  5.539875  -0.146234

                           pvalue           padj
gene_id
ENSMUSG00000025903   1.224594e-06   2.170271e-06
ENSMUSG00000033813   7.478853e-02   9.289895e-02
ENSMUSG00000033793   4.064219e-97   3.424150e-96
ENSMUSG00000025905   7.677594e-02   9.513859e-02
ENSMUSG00000025907   6.215992e-06   1.058253e-05
...                           ...            ...
ENSMUSG00000096768   6.012987e-48   2.774355e-47
ENSMUSG00000068457  1.196023e-133  1.462099e-132
ENSMUSG00000069045  8.290322e-207  1.676325e-205
ENSMUSG00000069044   4.637908e-01            NaN
ENSMUSG00000095650   8.837369e-01            NaN

[17710 rows x 6 columns]

... done in 3.90 seconds.